<h2>Sign up</h2>


<%= form_for @user do |f| %>
  <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-error"><%= msg %></div>
  <% end %> 

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :value=>@user.email, :readonly => true %></div>
  <%= f.hidden_field :link, :value=>params[:link] %>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>