<%= form_for [:admin, @invitation] do |f| %>
  <% @invitation.errors.full_messages.each do |msg| %>
      <div class="alert alert-error"><%= msg %></div>
  <% end %> 
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  <p><%= f.submit %></p>
<% end %>