<%= form_for [:admin, @invitation] do |f| %>
  <% @invitation.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %> 
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit %></p>
<% end %>
